//Código principal de about.html


main{
    .about__gridContainer {
        background-color: white;
        box-shadow: 5px 5px 10px $shadow;
        width: 90%;
        margin: 4rem auto;
        align-items: center;
        display: grid;
        //una columna en la que se muestra todo
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        div#about__foto{
        justify-items: center;
        align-items: center;
        justify-content: center;
        size: 4rem;
        object-fit: cover;
        }
    .info {
        text-align: justify;
        font-size: 1rem;
        margin-bottom: 1rem;
  }
  
}
  
  
  /* Media queries */
  
  @media screen and (min-width: 768px) {

    .about__gridContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 0px;
    }
    .gridContainer { 
      .photo { grid-area: 1 / 1 / 3 / 2; }
      .info1 { grid-area: 1 / 2 / 2 / 3; }
      .info2 { grid-area: 2 / 2 / 3 / 3; }
      padding: 32px;
    }
    .header__title {
      transform: scale(1.1);
    }
    div#about__foto{
      place-items: center;
      size: 5rem;
    }
  }
}