main{

    .commissions__gridContainer
    {
        display: grid;
        background-color: white;
        box-shadow: 5px 5px 10px $color4;
        width: 90%;
        margin: 4rem auto;
        justify-content: center;
        align-items: center;
        padding: 10%;
    .contact__form--buttonsContainer{
        display: grid;
        grid-template-columns: (repeat(2, 1fr));
        justify-items: center;
        }
    .commissions__image #img{
        padding: 10%;    
        width: 90%;
        background: $color1;
        justify-items: center;
        align-items: center;
        justify-content: center;
        }
    }
}






/* SHOP*/
/* +++++++++++ */

// .shop__mainContainer {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
// }

// .shop__mainContainer h1{
//     text-align: center;
// }

// .shop__mainContainer i{
//     font-size: 5rem;
// }