main{
    .contact__mainContainer{
        background-color: white;
        box-shadow: 5px 5px 10px $color4;
        width: 90%;
        margin: 2rem auto;
        align-items: center;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 5%;
        margin: 1rem;
        
    .contact__form--mainContainer{
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        #nombre{ margin: 5px;}
        #apellido{ margin: 5px;}
        #ciudad{ margin: 5px;}
        #country{ margin: 5px;}
        #correo{ margin: 5px;}

        .contact__sex{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 3px;
            grid-row-gap: 0px;
        }
        .male { grid-area: 1 / 1 / 2 / 3; }
        .female { grid-area: 1 / 3 / 2 / 5; }
    }   

    .contact__form--knowContainer{
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .subtitle{
        text-align: center;
        color: $color3;
        margin: 1rem;
    }
    .contact__form--subjectContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .contact__form--textContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .contact__form--buttonsContainer{
        display: grid;
        grid-template-columns: (repeat(2, 1fr));
        justify-items: center;
        margin: 1rem;      
    }
    }

    /* Media queries */
  
  @media screen and (min-width: 768px) {
    .contact__form--knowContainer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 7px;
        }
    .face { grid-area: 1 / 1 / 2 / 3; }
    .insta { grid-area: 1 / 3 / 2 / 5; }
    .tiktok { grid-area: 1 / 5 / 2 / 7; }
    .web { grid-area: 2 / 1 / 3 / 3; }
    .friends { grid-area: 2 / 3 / 3 / 5; }
    .other { grid-area: 2 / 5 / 3 / 7; }
  }
}

