.main{
  .gallery__gridContainer{
    background-color: white;
    box-shadow: 5px 5px 10px $color4;
    width: 90%;
    margin: 4rem auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
}