* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $color4
}

li{
    list-style: none;
}

body{
    background-color: $color1;
}

h1{
    text-align: center;
    color: $color4;
}

h3{
    text-align: center;
    color: black;
}