/********* Carousel *********/

@keyframes carousel-slide {
    0% {
        transform: translateX(0%); 
    }
  
    25% {
        transform: translateX(-25%);    
    }
  
    50% {
        transform: translateX(-50%);
    }
  
    75% {
        transform: translateX(-75%);
    }
  }
  
  .carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 800px;
    text-align: center;
    background-color: var(--carousel-bg-color);
    overflow-x: hidden;
  }
  
  .carousel .slides {
    padding-left: 0;
    /* 100% por cada slide - Quiero que a cada elemento se le aplique el 100% del ancho */
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform .5s ease-in-out;
    animation: carousel-slide 12s ease-in-out 3s;
  }
  
  .carousel input {
    display: none;
  }
  
  .carousel label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .25rem;
    display: inline-block;
    width: .75rem;
    height: .75rem;
  }
  
  #slide-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #slide-2:checked ~ .slides-nav label#dot-2,
  #slide-3:checked ~ .slides-nav label#dot-3,
  #slide-4:checked ~ .slides-nav label#dot-4 {
    background-color: var(--gray-dark-color);
  }
  